<html th:fragment="layout (template, menu)" xmlns:th="http://www.w3.org/1999/xhtml">
<body>



  <th:block th:fragment="addCode()">
      <form th:action="@{'/projectadd'}" method="post" enctype="multipart/form-data">
          <label>dodaj projekt: (kod)</label>
          <input type="text" name="code" id="code"/>
          <input type="submit" value="dodaj" class="submit" />
      </form>
  </th:block>


  <th:block th:fragment="findCode()">
      <form th:action="@{'/projectfind'}" method="post" enctype="multipart/form-data">
          <label>szukaj projektu:</label>
          <input type="text" name="code" id="code"/>
          <input type="submit" value="szukaj" class="submit" />
      </form>
  </th:block>




  <th:block th:fragment="listCode()" th:if="${not #lists.isEmpty(projectList)}">
      <span>lista projektów o kodzie %?%</span>
      <table>
          <tbody>
          <tr th:each="project : ${projectList}">
              <td>
                  <a th:href="@{'/project/'+${project.getId()}}" th:text="${project.getName()}"></a>
              </td>
              <td>
                  <a th:href="@{'/projectmont/'+${project.getId()}}">pobierz zmontowany</a>
              </td>
              <td>
                  <a th:href="@{'/projectprotect/'+${project.getId()}}">pobierz zabezpieczony</a>
              </td>
          </tr>
          </tbody>
      </table>
  </th:block>



  <th:block th:fragment="showProduct()" th:if="${code!=null}">
      <form th:action="@{'/pdf_add'}" method="post" enctype="multipart/form-data">
      <table>
          <tbody>
          <tr><td></td><td>
           <label>Kod produktu: <strong th:text="${code}"></strong> </label>
           <input type="hidden" name="id" id="id" th:value="${id}"/>

              <a th:if="${A!=null}" th:href="${'/'+id+'/1'+A}">[ pobierz ]</a>
              <a th:href="${'/'+id+'/1'+A}">[ pobierz ]</a>


              <th:block th:each="val : ${values}">
                  <p th:text="${val.ordinal()}"></p>
                  <p th:text="${val.name()}"></p>
                  <p th:text="${val}"></p>
                  <p th:text="${val.getDescription()}"></p>
              </th:block>>

          <input type="submit" value="zapisz" class="submit" style="width: 100%; padding: 8px; margin: 12px;  "/>

          </td></tr>
          </tbody>
      </table>
      </form>
  </th:block>


</body>
</html>











</td><tr></tr><td><a th_if="${A!=null}" th:href="${'/'+id+'/1'}">[ pobierz ]</a></td><td>

    <label>Architektura: </label>
</td><td>
    <input type="file" name="A" id="A"  />

</td><tr></tr><td><a th_if="${AO!=null}" th:href="${'/'+id+'/2'}">[ pobierz ]</a></td><td>

    <label>Architektura okładka: </label>
</td><td>
    <input type="file" name="AO" id="AO"/>

</td><tr></tr><td><a th_if="${T!=null}" th:href="${'/'+id+'/3'}">[ pobierz ]</a></td><td>

    <label>Techniczny: </label>
</td><td>
    <input type="file" name="T" id="T"/>

</td><tr></tr><td><a th_if="${TO!=null}" th:href="${'/'+id+'/4'}">[ pobierz ]</a></td><td>

    <label>Techniczny okładka: </label>
</td><td>
    <input type="file" name="TO" id="TO"/>

</td><tr></tr><td><a th_if="${C!=null}" th:href="${'/'+id+'/5'}">[ pobierz ]</a></td><td>

    <label>Koszty: </label>
</td><td>
    <input type="file" name="C" id="C"/>

</td><tr></tr><td><a th_if="${CO!=null}" th:href="${'/'+id+'/6'}">[ pobierz ]</a></td><td>

    <label>Koszty okładka: </label>
</td><td>
    <input type="file" name="CO" id="CO"/>

</td><tr></tr><td colspan="3">