<html th:fragment="layout (template, menu)" xmlns:th="http://www.w3.org/1999/xhtml">
<body>



<table>
<tbody>

<th:block th:fragment="findCode()">
<tr >
<form th:action="@{'/projectfind'}" method="post" enctype="multipart/form-data" id="form_projectfind">
    <td></td>
    <td>

        <label>szukaj projektu:</label>

    </td><td>

        <input type="text" name="code" id="code"/>

    </td><td>

        <input type="submit" value="szukaj" class="submit" />

    </td>
    <td></td>
</form>
</tr>


<tr>
    <td></td>
    <td></td>
    <td colspan="2">
        <span th:if="${new_code!=null}" onclick="addcode();" class="addcode">dodaj kod: <span id="old_code" th:text="${new_code}"></span></span>

    </td>
    <td></td>
</tr>
</th:block>


</tbody>
</table>




<span>lista projektów o kodzie %?%</span>
<table>
    <tbody>

  <th:block th:fragment="listCode()" th:if="${not #lists.isEmpty(projectList)}">

          <tr th:each="proj : ${projectList}" class="listcode">
              <td></td>
              <td colspan="3" th:onclick="'show('+${proj.getId()}+');'">
                  <a th:text="${proj.getName()}"></a>
              </td>
              <td></td>
          </tr>

  </th:block>
    </tbody>
</table>



<table>
    <tbody>

  <th:block th:fragment="showProduct()" th:if="${code!=null}">

      <form th:action="@{'/pdf/add'}" method="post" enctype="multipart/form-data">
      <input type="hidden" name="id" id="id" th:value="${id}"/>

          <!--  code name  -->
         <tr><td colspan="5" ><h2 th:text="${code}" style="text-align: center;"></h2></td></tr>

         <!-- loop for inputs -->
         <th:block th:each="PdfType : ${PdfTypes}">
         <tr>
             <td></td>
             <td><th:block th:if="${#maps.containsKey(validFiles, PdfType)}"><a th:href="${'/pdf/get/'+id+'/'+PdfType+'/'+code+'_'+PdfType}">[ download ]</a></th:block></td>
             <td th:text="${PdfType.getDescription()}"></td>
             <td><input type="file" th:name="${PdfType.name()}" th:id="${PdfType.name()}"/></td>
             <td></td>
         </tr>
         </th:block>

         <tr>
             <td colspan="5">
                 <input type="submit" value="zapisz" class="submit" style="padding: 10px 42px; display: block; margin-left: 30%; width: 40%;  margin-top: 30px; "/>
             </td>
         </tr>

         <tr>
            <td colspan="5"><br/><hr/><br/></td>
         </tr>

          <tr>
              <td></td>
              <td>pobierz do druku:</td>
              <td> <a th:href="@{'/pdf/getEN/'+${id}+'/COLOR/'+${code}+'_okladki'}">[ OKLADKI Color ]</a> </td>
              <td> <a th:href="@{'/pdf/getEN/'+${id}+'/BW/'+${code}+'_srodki'}">[ Srodki B/W ]</a> </td>
              <td></td>
          </tr>

          <tr>
              <td colspan="5"><br/><hr/><br/></td>
          </tr>

          <tr>
              <td></td>
              <td>pobierz połaczone:</td>
              <td> <a th:href="@{'/pdf/getEN/'+${id}+'/ARCH/'+${code}+'_Arch'}">[ Arch ]</a> </td>
              <td> <a th:href="@{'/pdf/getEN/'+${id}+'/TECH/'+${code}+'_Tech'}">[ Tech ]</a> </td>
              <td> <a th:href="@{'/pdf/getEN/'+${id}+'/CENNIK/'+${code}+'_SK'}">[ SK ]</a> </td>
          </tr>


          <tr>
              <td colspan="5">
               podaj treść znaku wodnego  [ ... ]
              </td>
          </tr>

          <tr>
              <td colspan="5">
             pobierz połączone i podpisane pliki:
              </td>
          </tr>

          <tr>
              <td></td>
              <td> <a th:href="@{'/pdf/getEN/'+${id}+'/EnARCH/'+${code}+'_ZnArch'}">[ Arch ] + Znak Wodny</a> </td>
              <td> <a th:href="@{'/pdf/getEN/'+${id}+'/EnTECH/'+${code}+'_ZnTech'}">[ Tech ] + Znak Wodny</a> </td>
              <td> <a th:href="@{'/pdf/getEN/'+${id}+'/EnCENNIK/'+${code}+'_ZnSK'}">[ SK ] + Znak Wodny</a> </td>
            <td></td>
          </tr>
      </form>
  </th:block>

    </tbody>
</table>

</body>
</html>

