<html th:fragment="layout (template, menu)" xmlns:th="http://www.w3.org/1999/xhtml">
<body>



<table>
<tbody>

<th:block th:fragment="findCode()">
<tr >
<form th:action="@{'/projectfind'}" method="post" enctype="multipart/form-data" id="form_projectfind">
    <td></td>
    <td>

        <label>szukaj projektu:</label>

    </td><td>

        <input type="text" name="code" id="code"/>

    </td><td>

        <input type="submit" value="szukaj" class="submit" />

    </td>
    <td></td>
</form>
</tr>


<tr>
    <td></td>
    <td></td>
    <td colspan="2">
        <span th:if="${new_code!=null}" onclick="addcode();" class="addcode">dodaj kod: <span id="old_code" th:text="${new_code}"></span></span>

    </td>
    <td></td>
</tr>
</th:block>


</tbody>
</table>




<span>lista projektów o kodzie %?%</span>
<table>
    <tbody>

  <th:block th:fragment="listCode()" th:if="${not #lists.isEmpty(projectList)}">

          <tr th:each="proj : ${projectList}" class="listcode">
              <td></td>
              <td colspan="3" th:onclick="'show('+${proj.getId()}+');'">
                  <a th:text="${proj.getName()}"></a>
              </td>
              <td></td>
          </tr>

  </th:block>
    </tbody>
</table>



<table>
    <tbody>

  <th:block th:fragment="showProduct()" th:if="${code!=null}">
      <form th:action="@{'/pdf/add'}" method="post" enctype="multipart/form-data">
      <input type="hidden" name="id" id="id" th:value="${id}"/>

          <!--  code name  -->
         <tr><td colspan="5" ><h2 th:text="${code}" style="text-align: center;"></h2></td></tr>

         <!-- loop for inputs -->
         <th:block th:each="PdfType : ${PdfTypes}">
         <tr>
             <td></td>
             <td><th:block th:if="${#maps.containsKey(validFiles, PdfType)}"><a th:href="${'/pdf/get/'+id+'/'+PdfType+''}">[ download ]</a></th:block></td>
             <td th:text="${PdfType.getDescription()}"></td>
             <td><input type="file" th:name="${PdfType.name()}" th:id="${PdfType.name()}"/></td>
             <td></td>
         </tr>
         </th:block>

         <tr>
             <td colspan="5">
                 <input type="submit" value="zapisz" class="submit" />
             </td>
         </tr>

         <tr>
            <td colspan="5">...</td>
         </tr>

          <tr>
              <td colspan="5">
                  <p>pobierz do druku:  <a th:href="@{'/pdf/getEN/'+${id}+'/BW'}">[ OKLADKI Color ]</a>  <a th:href="@{'/pdf/getEN/'+${id}+'/COLOR'}">[ Srodki B/W ]</a> </p>
             <p> podaj treść znaku wodnego  [ ... ] </p>

             <p></p>
             <p>pobierz połączone i podpisane pliki:</p>
             <p>
                 <a th:href="@{'/pdf/getEN/'+${id}+'/ARCH'}">[ Arch ]</a>
                 <a th:href="@{'/pdf/getEN/'+${id}+'/TECH'}">[ Tech ]</a>
                 <a th:href="@{'/pdf/getEN/'+${id}+'/CENNIK'}">[ SK ]</a>
                  <p>
                      case "EnBW": fileFullName = prepareBW( id , true ); break;
                      case "EnCOLOR": fileFullName = prepareColor( id , true );  break;
                      case "EnARCH": fileFullName = prepareArch( id , true ); break;
                      case "EnTECH": fileFullName = prepareTech( id , true ); break;
                      case "EnCENNIK": fileFullName = prepareCennik( id , true ); break;
                  </p>

              </td>
          </tr>
      </form>
  </th:block>

    </tbody>
</table>

</body>
</html>











</td><tr></tr><td><a th_if="${A!=null}" th:href="${'/'+id+'/1'}">[ pobierz ]</a></td><td>

    <label>Architektura: </label>
</td><td>
    <input type="file" name="A" id="A"  />

</td><tr></tr><td><a th_if="${AO!=null}" th:href="${'/'+id+'/2'}">[ pobierz ]</a></td><td>

    <label>Architektura okładka: </label>
</td><td>
    <input type="file" name="AO" id="AO"/>

</td><tr></tr><td><a th_if="${T!=null}" th:href="${'/'+id+'/3'}">[ pobierz ]</a></td><td>

    <label>Techniczny: </label>
</td><td>
    <input type="file" name="T" id="T"/>

</td><tr></tr><td><a th_if="${TO!=null}" th:href="${'/'+id+'/4'}">[ pobierz ]</a></td><td>

    <label>Techniczny okładka: </label>
</td><td>
    <input type="file" name="TO" id="TO"/>

</td><tr></tr><td><a th_if="${C!=null}" th:href="${'/'+id+'/5'}">[ pobierz ]</a></td><td>

    <label>Koszty: </label>
</td><td>
    <input type="file" name="C" id="C"/>

</td><tr></tr><td><a th_if="${CO!=null}" th:href="${'/'+id+'/6'}">[ pobierz ]</a></td><td>

    <label>Koszty okładka: </label>
</td><td>
    <input type="file" name="CO" id="CO"/>

</td><tr></tr><td colspan="3">