<!doctype html>
<html th:fragment="layout (template, menu)" xmlns:th="http://www.w3.org/1999/xhtml">

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/script.js}"></script>
  </head>




<body>
    <h2 th:if="${error!=null}" class="error" th:text="${error}"></h2>
    <h2 th:if="${success!=null}" class="success" th:text="${success}"></h2>

    <div id="content">
         <th:block th:include="${template}"/>
    </div>



</body>

</html>
