<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8"/>
    <title>PDF Repo</title>
</head>
<body>



<th:block th:insert="fragments/inputField :: addCode()"></th:block>
<br/>
<th:block th:insert="fragments/inputField :: findCode()"></th:block>
<br/>
<th:block th:insert="fragments/inputField :: listCode()"></th:block>
<br/>
<th:block th:insert="fragments/inputField :: showProduct()"></th:block>
<br/>



<a href="/project">** PROJECT **</a>

<a href="/add">dodaj</a>
<a href="/list">szukaj</a>


</body>
</html>












