
        body {  margin: 0px; padding: 0px;  font-family: Tahoma;
            ?background-image: url(/img/back.jpg);
            ?background-repeat: no-repeat;
            ?background-size: cover;
            background-color: #d8d8d8;

             display: flex;
             align-items: center;
             justify-content: center;
             flex-direction: column;
        }


      	h2.error , h2.success {
      	position: absolute;
      	    display: inline-block;
      	    top: 20px;
      	    font-size: 12px;
      	    font-weight: normal;
      	    padding: 7px 22px;
      	    margin 5px;
      	    margin: auto;
      	    text-align: center;
      	    background-color: transparent;
      	    border: 2px solid transparent; }
      	h2.error { color: red; border-color: red; left: 30%px; }
      	h2.success { color: green; border-color: green; left: 40%px; }



      	div#content {
      	    width: 1200px;
      	    margin: auto;
      	    margin-top: 10%;
      	    margin-bottom: 10%;
      	    display: flex;
      	    align-items: center;
      	    justify-content: center;
      	    flex-direction: column;
      	}

        tr.listcode:hover { background-color: #c0c0c0; }
        tr.listcode td {text-align: center;}



        form {
            border: 1px dotted #a0a0a0;
            padding: 20px 40px;
            margin: 10px;
        }


        form.show_product {

        }

        form.show_product span {
            display: block;
        }


        tr { padding-top: 22px; padding-bottom: 22px; }










        span.addcode {
        color: gray; font-size: 60%;
        }