<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8"/>
    <title>PDF Repo</title>
</head>
<body>


<table>
    <tbody>

<th:block th:insert="fragments/inputField :: findCode()"></th:block>

<tr></tr>

<th:block th:insert="fragments/inputField :: listCode()"></th:block>





    </tbody>
</table>

</body>
</html>


<br/>

<th_block th_insert="fragments/inputField :: showProduct()"></th_block>







